@import 'tailwindcss';

@theme {
  --font-term: 'VT323', monospace;
  --color-vt-beige: #d0ccbc;
  --color-vt-beige-dark: #b0aca0;
  --color-vt-black: #111112;
  --color-p4-white: #ebf0ff;
  --color-dec-blue: #003da5;
  --color-vt-led-red: #ff0000;
  --color-vt-led-amber: #ffaa00;
  --color-vt-led-green: #33ff33;
}

@font-face {
  font-family: 'VT323';
  src: url('/fonts/VT323-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* =========================================
   BASE RESET & GLOBAL
========================================= */
@layer base {
  body,
  html {
    @apply h-screen w-screen bg-black text-p4-white overflow-hidden m-0 p-0;
    font-family: var(--font-term);
  }
  #app {
    @apply h-full w-full;
  }
}
